<% include ./partials/header %>
<div class="container">
    <div class="row" >
        <div style="width: 90%; margin: 0 auto">
            <div class="thumbnail">
                <h2><%= blog.title%></h2>
                <img src="<%= blog.image%>">
                <h4><%= blog.created.toDateString()%></h4>
                <p>
                    <%- blog.body%>
                    <!-- using %- instead of %= we can style via html tags-->
                </p>
                  
                
                
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>